.explorepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.explorepage-explorepage {
  width: 100%;
  height: 966px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.explorepage-rectangle10 {
  top: 0px;
  left: 0px;
  width: 440px;
  height: 85px;
  position: absolute;
}
.explorepage-ellipse6 {
  top: 24px;
  left: 18px;
  width: 50px;
  height: 50px;
  position: absolute;
}
.explorepage-rectangle11 {
  top: 89px;
  left: 0px;
  width: 440px;
  height: 18px;
  position: absolute;
}
.explorepage-rectangle12 {
  top: 104px;
  left: 0px;
  width: 440px;
  height: 66px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.explorepage-rectangle13 {
  top: 174px;
  left: 1px;
  width: 440px;
  height: 304px;
  position: absolute;
}
.explorepage-text10 {
  top: 197px;
  left: 107px;
  color: rgba(0, 0, 0, 1);
  width: 184px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-ellipse4 {
  top: 19px;
  left: 13px;
  width: 60px;
  height: 60px;
  position: absolute;
}
.explorepage-text12 {
  top: 519px;
  left: 305px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-text14 {
  top: 554px;
  left: 102px;
  color: rgba(196, 196, 196, 1);
  width: 324px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-text16 {
  top: 521px;
  left: 102px;
  color: rgba(0, 0, 0, 1);
  width: 184px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-ellipse5 {
  top: 189px;
  left: 13px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.explorepage-ellipse3 {
  top: 519px;
  left: 13px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.explorepage-rectangle171 {
  top: 27px;
  left: 85px;
  width: 282px;
  height: 45px;
  position: absolute;
}
.explorepage-text18 {
  top: 233px;
  left: 107px;
  color: rgba(196, 196, 196, 1);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-text20 {
  top: 197px;
  left: 305px;
  color: rgba(0, 0, 0, 1);
  width: 38px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-rectangle20 {
  top: 474px;
  left: -1px;
  width: 441px;
  height: 17px;
  position: absolute;
}
.explorepage-text22 {
  top: 36px;
  left: 94px;
  color: rgba(0, 0, 0, 1);
  width: 126px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-text24 {
  top: 269px;
  left: 22px;
  color: rgba(0, 0, 0, 1);
  width: 396px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Cabin;
  font-weight: 700;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-text25 {
  color: rgba(0, 0, 0, 1);
}
.explorepage-text27 {
  top: 114px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 420px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.explorepage-group1 {
  top: -616px;
  left: -816px;
  width: 2017px;
  height: 2025px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.explorepage-sad-cody3d1 {
  top: 25px;
  left: 0px;
  width: 2000px;
  height: 2000px;
  position: absolute;
}
.explorepage-rectangle172 {
  top: 1536px;
  left: 817px;
  width: 440px;
  height: 48px;
  position: absolute;
}
.explorepage-sad-cody3d2 {
  top: 0px;
  left: 17px;
  width: 2000px;
  height: 2000px;
  position: absolute;
}
.explorepage-vector {
  top: 1541px;
  left: 843px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.explorepage-svg24-create {
  top: 1543px;
  left: 1200px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.explorepage-messagecircle {
  top: 24px;
  left: 381px;
  width: 45px;
  height: 45px;
  position: absolute;
  box-sizing: content-box;
}
.explorepage-svg32-like {
  top: 425px;
  left: 18px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.explorepage-svg32-share {
  top: 425px;
  left: 371px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.explorepage-line9 {
  top: 409px;
  left: 2px;
  width: 436px;
  height: 1px;
  position: absolute;
}
.explorepage-user {
  top: 926px;
  left: 201px;
  width: 40px;
  height: 40px;
  position: absolute;
}
