.resetyourpassword2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resetyourpassword2-resetyourpassword2 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.resetyourpassword2-navigation-bar {
  top: 0px;
  left: 0px;
  width: 390px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(44, 44, 44, 0.30000001192092896);
  border-style: solid;
  border-width: 0 0 0.33329999446868896px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.75);
}
.resetyourpassword2-status-bar {
  gap: 112px;
  width: 390px;
  height: 54px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resetyourpassword2-time {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 54px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text10 {
  top: 18.339622497558594px;
  left: 51.52753448486328px;
  color: var(--dl-color-neutral-black);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 600;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-levels {
  top: 0px;
  left: 250.57254028320312px;
  width: 139px;
  height: 54px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-battery {
  top: 23px;
  left: 81px;
  width: 27.32803726196289px;
  height: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resetyourpassword2-border {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 13px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(43, 43, 43, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4.300000190734863px;
}
.resetyourpassword2-cap {
  top: 4.7811279296875px;
  left: 26px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.resetyourpassword2-capacity {
  top: 2px;
  left: 2px;
  width: 21px;
  height: 9px;
  position: absolute;
  border-radius: 2.5px;
}
.resetyourpassword2-wifi {
  top: 23.63775634765625px;
  left: 56.69922637939453px;
  width: 17px;
  height: 12px;
  position: absolute;
}
.resetyourpassword2-cellular-connection {
  top: 23.535823822021484px;
  left: 30px;
  width: 19px;
  height: 12px;
  position: absolute;
}
.resetyourpassword2-contents {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.resetyourpassword2-titleand-controls {
  gap: 2px;
  width: 390px;
  height: 46px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resetyourpassword2-leading {
  top: 0px;
  left: 0px;
  width: 79px;
  display: flex;
  padding: 11px 8px;
  position: absolute;
  align-items: center;
}
.resetyourpassword2-arrows {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-arrowleft {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resetyourpassword2-vector {
  top: 4.079999923706055px;
  left: 7.902499675750732px;
  width: 7px;
  height: 16px;
  position: absolute;
}
.resetyourpassword2-text12 {
  color: var(--dl-color-colors-orange);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.resetyourpassword2-text14 {
  top: 11px;
  left: 85px;
  color: var(--dl-color-neutral-black);
  width: 220px;
  height: auto;
  position: absolute;
  flex-grow: 1;
  text-align: center;
  line-height: 24px;
}
.resetyourpassword2-textfield1 {
  top: 239px;
  left: 0px;
  width: 97px;
  height: 97px;
  display: flex;
  padding: 8px 8px 8px 16px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword2-autolayout1 {
  gap: 8px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword2-text16 {
  color: var(--dl-color-neutral-greysoft);
  height: auto;
  flex-grow: 1;
  text-align: center;
  line-height: 32px;
}
.resetyourpassword2-textfield2 {
  top: 239px;
  left: 195px;
  width: 97px;
  height: 97px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword2-autolayout2 {
  gap: 8px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword2-text17 {
  color: var(--dl-color-neutral-greysoft);
  height: auto;
  flex-grow: 1;
  text-align: center;
  line-height: 32px;
}
.resetyourpassword2-textfield3 {
  top: 239px;
  left: 97px;
  width: 97px;
  height: 97px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword2-autolayout3 {
  gap: 8px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword2-text18 {
  color: var(--dl-color-neutral-greysoft);
  height: auto;
  flex-grow: 1;
  text-align: center;
  line-height: 32px;
}
.resetyourpassword2-textfield4 {
  top: 239px;
  left: 292px;
  width: 97px;
  height: 97px;
  display: flex;
  padding: 8px 16px 8px 8px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword2-autolayout4 {
  gap: 8px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword2-text19 {
  color: var(--dl-color-neutral-greysoft);
  height: auto;
  flex-grow: 1;
  text-align: center;
  line-height: 32px;
}
.resetyourpassword2-text20 {
  top: 116px;
  left: 16px;
  color: var(--dl-color-neutral-black);
  width: 358px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.resetyourpassword2-keyboardi-phone {
  top: 552px;
  left: 0px;
  width: 390px;
  height: 292px;
  display: flex;
  position: absolute;
  box-shadow: 0px -0.33000001311302185px 0px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.3400000035762787);
}
.resetyourpassword2-home-indicator1 {
  gap: 10px;
  top: 258px;
  left: -2px;
  width: 390px;
  height: 21px;
  display: flex;
  padding: 8px 127px;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.resetyourpassword2-home-indicator2 {
  top: 8px;
  left: 264px;
  width: 139px;
  height: 5px;
  position: absolute;
  border-radius: 100px;
}
.resetyourpassword2-frame10 {
  top: 6px;
  left: 6px;
  width: 378px;
  height: 206px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-frame11 {
  gap: 4px;
  top: 159px;
  left: 9.094947017729282e-13px;
  width: 378px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-empty {
  width: auto;
  height: 20px;
  flex-grow: 1;
}
.resetyourpassword2-button10 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-text22 {
  top: 8px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button11 {
  width: 123px;
  height: 47px;
  flex-grow: 1;
}
.resetyourpassword2-frame12 {
  gap: 4px;
  top: 53px;
  left: 0px;
  width: 378px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-button12 {
  width: 123.33333587646484px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame13 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text23 {
  top: 28px;
  left: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text25 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button13 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame14 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text26 {
  top: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text28 {
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button14 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame15 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text29 {
  top: 28px;
  left: -2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text31 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-frame16 {
  gap: 4px;
  top: 106px;
  left: 0px;
  width: 378px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-button15 {
  width: 123.33333587646484px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame17 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text32 {
  top: 28px;
  left: -4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text34 {
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button16 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame18 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text35 {
  top: 28px;
  left: -1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text37 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button17 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame19 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text38 {
  top: 28px;
  left: -6px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text40 {
  left: 1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-frame20 {
  gap: 4px;
  top: 0px;
  left: 0px;
  width: 378px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-button18 {
  width: 123.33333587646484px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame21 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text41 {
  top: 28px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text42 {
  left: 3px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button19 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame22 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text43 {
  top: 28px;
  left: -1px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text45 {
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button20 {
  width: 123.33332824707031px;
  height: 47px;
  display: flex;
  position: relative;
  flex-grow: 1;
  box-shadow: 0px 1px 0px 0px rgba(137, 138, 141, 1) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: rgba(252, 252, 254, 1);
}
.resetyourpassword2-frame23 {
  top: 1px;
  left: 52px;
  width: 20px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword2-text46 {
  top: 28px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-text48 {
  left: 2px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: center;
  font-family: SF Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword2-button-frame {
  gap: 8px;
  top: 336px;
  left: 0px;
  width: 390px;
  display: flex;
  padding: 16px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword2-button21 {
  gap: 16px;
  display: flex;
  padding: 14px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
}
.resetyourpassword2-text49 {
  color: var(--dl-color-colors-orange);
  height: auto;
  text-align: left;
  line-height: 24px;
}
