.resetyourpassword3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resetyourpassword3-resetyourpassword3 {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.resetyourpassword3-button-frame {
  gap: 8px;
  top: 747px;
  left: 0px;
  width: 390px;
  display: flex;
  padding: 8px 16px 16px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword3-button {
  gap: 16px;
  display: flex;
  padding: 14px 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword3-text10 {
  color: var(--dl-color-neutral-grey);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.resetyourpassword3-home-indicator1 {
  gap: 10px;
  top: 823px;
  left: 0px;
  width: 390px;
  height: 21px;
  display: flex;
  padding: 8px 127px;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
}
.resetyourpassword3-home-indicator2 {
  top: 8px;
  left: 264px;
  width: 139px;
  height: 5px;
  position: absolute;
  border-radius: 100px;
}
.resetyourpassword3-navigation-bar {
  top: 0px;
  left: 0px;
  width: 390px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(44, 44, 44, 0.30000001192092896);
  border-style: solid;
  border-width: 0 0 0.33329999446868896px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.75);
}
.resetyourpassword3-status-bar {
  gap: 112px;
  width: 390px;
  height: 54px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resetyourpassword3-time {
  top: 0px;
  left: 0px;
  width: 139px;
  height: 54px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword3-text12 {
  top: 18.339622497558594px;
  left: 51.52753448486328px;
  color: var(--dl-color-neutral-black);
  width: 37px;
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro;
  font-weight: 600;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.resetyourpassword3-levels {
  top: 0px;
  left: 250.57254028320312px;
  width: 139px;
  height: 54px;
  display: flex;
  position: absolute;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword3-battery {
  top: 23px;
  left: 81px;
  width: 27.32803726196289px;
  height: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resetyourpassword3-border {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 13px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(43, 43, 43, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4.300000190734863px;
}
.resetyourpassword3-cap {
  top: 4.7811279296875px;
  left: 26px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.resetyourpassword3-capacity {
  top: 2px;
  left: 2px;
  width: 21px;
  height: 9px;
  position: absolute;
  border-radius: 2.5px;
}
.resetyourpassword3-wifi {
  top: 23.63775634765625px;
  left: 56.69922637939453px;
  width: 17px;
  height: 12px;
  position: absolute;
}
.resetyourpassword3-cellular-connection {
  top: 23.535823822021484px;
  left: 30px;
  width: 19px;
  height: 12px;
  position: absolute;
}
.resetyourpassword3-contents {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.resetyourpassword3-titleand-controls {
  gap: 2px;
  width: 390px;
  height: 46px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resetyourpassword3-leading {
  top: 0px;
  left: 0px;
  width: 79px;
  display: flex;
  padding: 11px 8px;
  position: absolute;
  align-items: center;
}
.resetyourpassword3-arrows {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resetyourpassword3-arrowleft {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resetyourpassword3-vector {
  top: 4.079999923706055px;
  left: 7.902499675750732px;
  width: 7px;
  height: 16px;
  position: absolute;
}
.resetyourpassword3-text14 {
  color: var(--dl-color-colors-orange);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.resetyourpassword3-text16 {
  top: 11px;
  left: 85px;
  color: var(--dl-color-neutral-black);
  width: 220px;
  height: auto;
  position: absolute;
  flex-grow: 1;
  text-align: center;
  line-height: 24px;
}
.resetyourpassword3-text18 {
  top: 116px;
  left: 16px;
  color: var(--dl-color-neutral-black);
  width: 220px;
  height: auto;
  position: absolute;
  flex-grow: 1;
  text-align: left;
  line-height: 28px;
}
.resetyourpassword3-text20 {
  top: 232px;
  left: 16px;
  color: var(--dl-color-neutral-black);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 28px;
}
.resetyourpassword3-textfield1 {
  top: 144px;
  left: 0px;
  width: 390px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword3-autolayout1 {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword3-text22 {
  color: var(--dl-color-neutral-greydark);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.resetyourpassword3-textfield2 {
  top: 260px;
  left: 0px;
  width: 390px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resetyourpassword3-autolayout2 {
  gap: 8px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: var(--dl-color-neutral-greybackground);
}
.resetyourpassword3-text24 {
  color: var(--dl-color-neutral-greydark);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
