.selectbehaviour-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.selectbehaviour-selectbehaviour {
  width: 100%;
  height: 956px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.selectbehaviour-rectangle17 {
  top: 918px;
  left: 0px;
  width: 440px;
  height: 48px;
  position: absolute;
}
.selectbehaviour-user {
  top: 918px;
  left: 200px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.selectbehaviour-rectangle23 {
  top: 109px;
  left: 0px;
  width: 440px;
  height: 797px;
  position: absolute;
}
.selectbehaviour-rectangle26 {
  top: 221px;
  left: 36px;
  width: 377px;
  height: 121px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.selectbehaviour-rectangle28 {
  top: 527px;
  left: 36px;
  width: 377px;
  height: 121px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.selectbehaviour-rectangle29 {
  top: 680px;
  left: 36px;
  width: 377px;
  height: 121px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.selectbehaviour-text10 {
  top: 729px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-rectangle27 {
  top: 374px;
  left: 36px;
  width: 377px;
  height: 121px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.selectbehaviour-text12 {
  top: 422px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text14 {
  top: 383px;
  left: 60px;
  color: rgba(0, 0, 0, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text16 {
  top: 165px;
  left: 35px;
  color: rgba(255, 182, 40, 1);
  width: 393px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-logoebtib2 {
  top: 48px;
  left: 142px;
  width: 141px;
  height: 61px;
  position: absolute;
}
.selectbehaviour-text18 {
  top: 109px;
  left: 28px;
  color: rgba(0, 0, 0, 1);
  width: 393px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Medium;
  text-align: center;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-button {
  gap: 16px;
  top: 832px;
  left: 41px;
  width: 358px;
  display: flex;
  padding: 14px 20px;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(255, 182, 40, 1);
}
.selectbehaviour-text20 {
  color: var(--dl-color-neutral-white);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text22 {
  top: 233px;
  left: 65px;
  color: rgba(0, 0, 0, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text24 {
  top: 536px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text26 {
  top: 695px;
  left: 53px;
  color: rgba(0, 0, 0, 1);
  width: 290px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text28 {
  top: 270px;
  left: 65px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
.selectbehaviour-text30 {
  top: 573px;
  left: 58px;
  color: rgba(0, 0, 0, 1);
  width: 334px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Cabin;
  font-weight: 500;
  line-height: 19px;
  font-stretch: normal;
  text-decoration: none;
}
